certifi==2018.4.16
chardet==3.0.4
confusable-homoglyphs==3.0.0
dj-database-url==0.5.0
Django==2.2.24
django-bootstrap4==0.0.8
django-google-maps==0.10.1
django-map-widgets==0.1.9
django-registration==2.4.1
django-tinymce==2.7.0
future==0.16.0
googlemaps==3.0.2
gunicorn==19.7.1
idna==2.7
oauthlib==2.1.0
Pillow==5.0.0
psycopg2==2.7.4
psycopg2-binary==2.7.5
python-decouple==3.1
pytz==2018.3
requests==2.19.1
requests-oauthlib==1.0.0
sqlparse==0.3.0
urllib3==1.23
whitenoise==3.3.1
